*
  box-sizing: border-box

html
  -webkit-user-select: none
  cursor: default

body
  overflow-y: hidden
  overflow-x: hidden

  &, > div
    height: 100%

iframe
  border: none

.clickable
  cursor: pointer
